<h3>Chicago Shooting Deaths</h3>
<table class="table">

	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Date</th>
	</tr>

<% @victims.each do |victim| %>
	<tr>
		<td><%= victim.name %></td>
		<td><%= victim.age %></td>
		<td><%= victim.date %></td>
	</tr>
<% end %>
</table>