<%= link_to image_tag("x.png"), root_path, class: "x-link" %>

<h1 class="hero">How many shot & killed in Chicago this year?</h1>

<div class="disclaimer">

	<h2 class="mission-header">Mission Statement</h2>

	<p class="mission-text">Chicago shootings appear in national headlines only when they are considered in terms of total body count. There is a growing inequality of urban violence in the city and no one seems to know what to do about it. While tragedies like Newtown, Connecticut garner national media attention, the near daily murders in Chicago do not. How can we conceive a more proactive approach to discussing these issues if the media is not covering them? Our attempt is in creating <a href="http://www.chicagopointblank.com">Chicago Point Blank</a>.</p>

	<h2 class="disclaimer-header">Disclaimer</h2>

	<p>All of our data is provided by the RedEye's <a href="http://homicides.redeyechicago.com/" target="_blank">Tracking Homicides in Chicago</a> application. While we do our best to ensure this information is updated punctually and without error, we cannot guarantee that this list is 100% accurate at any point in time.</p>


	<a href="mailto:contact@chicagopointblank.com" class="contact-email" target="_blank">contact@chicagopointblank.com</a>

	<a href="https://twitter.com/chipointblank" class="twitter-follow-button" data-show-count="false">Follow @chipointblank</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div> <!-- end .disclaimer twitter-link-disclaimer -->