<%= link_to image_tag("x.png"), root_path, class: "x-link" %>

<h1 class="hero">How many people have been shot & killed in Chicago?</h1>

<div class="disclaimer">

	<h2 class="disclaimer-header">Disclaimer</h2>

	<p>All of our data is provided by the RedEye's <a href="http://homicides.redeyechicago.com/" target="_blank">Tracking Homicides in Chicago</a> application. More information about how this data is gathered can be found on their website. While we do our best to ensure this information is updated punctually and without error, we cannot guarantee that this list is 100% accurate at any point in time. We cannot accept any liability for the accuracy of the data posted on this website.</p>


	<a href="mailto:contact@chicagopointblank.com" class="contact-email" target="_blank">contact@chicagopointblank.com</a>

	<a href="https://twitter.com/chipointblank" class="twitter-follow-button" data-show-count="false">Follow @chipointblank</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div> <!-- end .disclaimer twitter-link-disclaimer -->